.nav{
    background-color: rgba(255, 255, 255, 0.935);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 11vh;
    z-index: 100;
    width: 100%;
}

.logo{
    width: 60px;
    margin-left: 75px;
}

.ul{
    display: flex;
    list-style:none;
    gap: 40px;
    align-items: center;
    justify-content: end;
    padding: 0px 40px;
}

.li{
    font-size: 1.25em;
    cursor:pointer
}

.libutton{
    background-color: #05446a;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 1.25em;
}

.noLink{
    text-decoration: none;
    border: 0;
    outline: 0;
    color:black
}

@media screen and (max-width: 900px){
    .ul{
        display: none;
    }
}