.contact{
    width: 100%;
    height: 85vh;
}

.titleSection{
    text-align: center;
    font-size: 3em;
    color:#05446a;
}

.contactContainer{
    display: flex;
}

.correos{
    display: flex;
    align-items: center;
}

.mapa{
    width: 250px;
    height: 250px;
    background-color: green;
}