.about{
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
}

.titleSection{
    text-align: center;
    font-size: 3em;
    color:#05446a;
}

.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0px 50px;
}

.desc{
    /* background-color: red; */
       width: 500px;
       font-size: 1.5em;
       font-weight: 100;
       /* margin-left: 50px; */
}

.img{
    width: 450px;
}

@media screen and (max-width:900px) {
    .aboutContainer{
        flex-direction: column;
    }
    .desc{
        width: 350px;
        text-align: justify;
    }
}