.home{
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/marca.jpg");
    background-repeat: no-repeat;
    background-position: 600px 0px;
    background-size: 37em;
}

.slogan{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 100px;
    /* background-color: red; */
}

.sloganTop{
    color: #00b2d1;
    font-size: 2em;
}

.sloganBottom{
    color: #05446a;
    font-size: 2em;
    margin-top: 0px;
}

.nombre{
    padding: 175px 100px 50px 100px;
}

.nombre1{
    color: #05446a;
    font-size: 6em;
    line-height: 0;
    font-family: "trebuchet-ms-2"
}

.nombre2{
    color:#09afd1;
    font-size: 3em;
}

@media screen and (max-width:900px){
    .home{
        background-position: 300px 0px;
    }
}

@media screen and (max-width:900px){
    .home{
        background-position: 150px 0px;
    }
    .nombre1{
        font-size: 4.5em;
    }
    .nombre2{
        font-size: 2.2em;
        text-align: center;
    }
    .sloganBottom, .sloganTop{
        font-size: 1.4em;
    }
}